<%- include ('./partials/indextop.ejs')%>

<ul id="nav" class="nav nav-tabs">
    <li class="nav-item"><a href="/inventory/Hook" class="nav-link">Hooks</a></li>
    <li class="nav-item"><a href="/inventory/Handle" class="nav-link active">Handles</a></li>
    <li class="nav-item"><a href="/inventory/Knob" class="nav-link">Knobs</a></li>
</ul>

<%- include ('./partials/indexbot.ejs') %>