<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <h1>Inventory</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Part #</th>
            <th>Qty</th>
        </tr>
        <% for( let i = 0; i < inventory.length; i++){ %>
            <tr>
                <td><a href="/inventory/<%=inventory[i].id%>"><%=inventory[i].name%></a></td>
                <td><%=inventory[i].partNum%></td>
                <td><%=inventory[i].quantity%></td>
            </tr>

        <% } %>
    </table>

    
</body>
</html>