<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>New Accessory</title>
</head>
<body>
        <div class="container">
        <h1>New Accesssory</h1>
        <form action="/inventory" method="POST">
            <label for="name">Name: <input type="text" name="name"></label>
            

            <label for="partNum">Part #: <input type="text" name="partNum"></label>
            

            <label for="quantity">Quantity: <input type="number" name="quantity"></label>
            

            <label for="image">Image URL: <input type="text" name="image"></label>
            <input type="submit">
        </form>
        </div>
</body>
</html>