body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace !important;
}
.container{
    width: 40vw !important;
    height: 60vh;
    margin: auto;
}
h1{
    text-align: center;
    margin-top: 1em !important;
}
form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    margin-top: 4em;
}
label{
    display: flex !important;
    justify-content: space-between !important;
    font-weight: bold;
}

#buttons{
    display: flex;
    justify-content: space-around ;
}
label input{
    width: 60% !important;
}
a{
    color: white !important;
    text-decoration: none !important;
}